# Google Gemini API Key
# Lay API Key mien phi tai: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSy_YOUR_GEMINI_API_KEY_HERE

# Django Secret Key
SECRET_KEY=django-insecure-+xc)_7o*3#77w*&$#^%j9#%-*66w68v8ed^(202f(a_26lza2s
